/* Font */
@font-face {
  font-family: Pixeloid Mono;
  src: url(fonts/PixeloidMono-aYe1R.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Pixeloid Sans;
  src: url(fonts/PixeloidSans-E40en.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Pixeloid Bold;
  src: url(fonts/PixeloidSansBold-OG894.ttf);
  font-weight: bold;
}

/* Base */
body {
  margin: 20px;
  padding: 20px;
  width: 550px;
  height: 434.852px;
  font-family: Pixeloid Sans, sans-serif;
}

/* Typography */
h1 {
  margin-bottom: 20px;
  font-family: Pixeloid Bold, sans-serif;
  /*text-align: center;*/
}

p {
  margin: 10px 0;
  font-size: 18px;
}

/* Image */
.left-align {
  float: left;
  margin-right: 15px;
  margin-bottom: 10px;
}

.right-align {
  float: right;
  margin-left: 15px;
  margin-bottom: 10px;
}

/* Align */
.stack-rows {
  display: flex;
  flex-direction: column; /* stack vertically */
  gap: 10px;
}

.stack-columns {
  display: flex;
  flex-direction: row; /* stack horizontally */
  gap: 10px;
}

.centred-element {
  width: max-content;
  margin: auto;
}

.centred-text {
  text-align: center;
}

/* Tabs */
.tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 33px;
  padding: 0;
  gap: 15px;
  overflow: visible;
  position: relative;
}

.tabs > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: visible;
  width: auto;
  position: relative;
}

.tab {
  background: none;
  border: none;
  box-shadow: none;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.tab:first-child {
  padding-left: 0;
}

.tab img {
  display: block;
  height: 100%;
  width: auto;
  pointer-events: none;
  padding: 0;
}

.tab-text {
  font-size: 15px;
  position: absolute;
  top: 56px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  text-align: center;
  white-space: nowrap;
}

.tab-text.hover {
  display: block;
}

.tab-text {
  display: none;
}

.active-line {
  position: absolute;
  top: 100%;
  margin-top: 2px;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  display: none;
}

.tab.active ~ .active-line {
  display: block;
}

/* Tab Content */
.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

/* Progress bar */
.progress-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column
}

.progress-bar {
  width: 200px;
  height: 16px;
  background: #111;
  border: 3px solid #ffffff;
  padding: 2px;
  overflow: hidden;
  margin: auto;
}

.progress-label {
  font-size: 19px;
}

.xp-fill {
  height: 100%;
  width: 0;
  background: #44ff44;
  border: 2px solid #22aa22;
  box-sizing: border-box;
  transition: width 0.6s steps(10);
}

.xp-fill::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
}

/* Placeholder */
.level-up {
  /*  idk :( */
}